/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.table-sm-font {
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
}